<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <div class="container">
        <div class="card gap">
            <header class="card-header">
                <h3 class="gap-text">Ask your question</h3>
                <hr>
            </header>
            <main class="card-body">
                <form action="/ask/postform" method="post">

                    <label for="titleFormAskInput">Title</label>
                    <input type="text" name="titleFormAsk" id="titleFormAskInput" placeholder="Title"
                        class="form-control">

                    <label class="gap-text" for="textFormAsk">Description</label>
                    <textarea class="form-control" name="descriptionFormAsk" id="textFormAsk" placeholder="Describe your question"></textarea>

                    <button class="btn btn-primary gap">Ask!</button>
                </form>
            </main>
        </div>
    </div>

</body>
<%- include('./partials/footer.ejs') %>