<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    <h1>Olá meus nobres</h1>
    <a href="/ask">Criar pergunta</a>

</body>
<%- include('./partials/footer.ejs') %>